<div class="vh-100 font-light">
  <div class="d-flex h-100">
    <aside class="sidebar h-100 d-flex flex-column justify-content-between">
      <header class="brand d-flex align-items-center">
        <img class="logo" src="../assets/img/ff_logo.svg" alt="website logo, a yellow flame" />
        <h3 class="name font-regular">DataDashboard</h3>
      </header>
      <nav class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item"><a routerLink="/overview" routerLinkActive="active">Overview</a></li>
          <li class="nav-item"><a routerLink="/animals" routerLinkActive="active">Animals</a></li>
          <li class="nav-item"><a routerLink="/food" routerLinkActive="active">Food</a></li>
          <li class="nav-item"><a routerLink="/music" routerLinkActive="active">Music</a></li>
        </ul>
      </nav>
      <footer class="admin">
        <ul class="nav flex-column">
          <li class="nav-item"><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
          <li class="nav-item"><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
        </ul>
        <span class="copyright">&copy; FireFly 2019</span>
      </footer>
    </aside>
    <div class="page-container flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
