.sidebar {
  background-color: #063647;
  width: 12.5rem;
  color: #fff;
  .brand {
    padding: 15px;
    border-bottom: solid 1px #979797;
    .name {
      font-size: 1rem;
      padding-left: 0.5rem;
      margin: 0;
    }
    .logo {
      width: 28px;
      height: 38px;
    }
  }
  .nav-menu {
    flex: 1 1 auto;
    border-bottom: solid 1px #979797;
  }
  .nav-item {
    a {
      padding: 0.25rem 0 0.25rem 1rem;
      color: rgba($color: #fff, $alpha: 0.6);
      width: 100%;
      display: inline-block;
      font-size: 1.125rem;
    }
    .active {
      background-color: rgba($color: #fff, $alpha: 0.1);
      box-shadow: inset 4px 0 #fff;
    }
  }

  .copyright {
    display: block;
    font-size: 0.625rem;
    text-align: center;
    padding-bottom: 3px 0;
  }
}
.page-container {
  padding: 1.875rem;
  background: url('/assets/img/bg-pale.svg') no-repeat center;
  background-size: cover;
}
