@font-face {
  font-family: 'OpenSans bold';
  font-style: normal;
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans regular';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans light';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
}

body {
  font-size: 16px;
}

.text-regular {
  font-family: 'OpenSans regular';
}

.text-light {
  font-family: 'OpenSans light';
}
